@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Syne+Mono&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.logo-navigation-cta-section {
  // Container

  display: flex;
  justify-content: space-around;
  gap: 12.5%;
  margin: 2.5rem 0 0 2.5rem;

  .navigation-section {
    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    li {
      list-style: none;
      .company-default-state,
      .features-default-state{
        display: none;

        .features-svg{
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
      .company-active-state,
      .features-active-state{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        margin-top: 2rem;
        border-radius: 2.5%;
        padding: 0.85rem;
        background-color: hsl(0, 0%, 98%);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }
      .features-active-arrow,
      .company-active-arrow{
        display: none;
      }
    }
    a {
      text-decoration: none;
      color: hsl(0, 0%, 41%);
      margin: 0 0.5rem 0 0.5rem;
      font-family: 'Epilogue', sans-serif;
      font-weight: 500;
    }
    a:active{
      color: hsl(0, 0%, 8%);
      font-weight: 700;
    }
    a:hover{
      font-weight: 700;
      color: hsl(0, 0%, 8%);
    }
  }
  .cta-section {
    ul {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    li {
      list-style: none;

      .reg-btn {
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 0.65rem;
      }
    }
    a {
      text-decoration: none;
      color: hsl(0, 0%, 41%);
      font-family: 'Epilogue', sans-serif;
      font-weight: 500;

      a:active{
        color: hsl(0, 0%, 8%);
        font-weight: 700;
      }
      a:hover{
        color: hsl(0, 0%, 8%);
        font-weight: 700;
      }
    }
    
  }
}

.landing-grid-container {
  // Grid Container Class:
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

  transform: translateX(6.5rem);

  .info-section {
    margin: 5rem 12rem 0 0.5rem;
    padding: 5%;

    h1 {
      font-family: sans-serif;
      font-size: 5rem;

      span{
        word-spacing: 5rem;
      }
    }
    p {
      text-align: justify;
      justify-content: left;
      line-height: 2rem;
      word-spacing: 0.5rem;
    }
    a {
      text-decoration: none;
      padding: 1rem;
      border: 1px solid black;

      color: white;
      background-color: black;
      border-radius: 0.55rem;
    }
  }

  .images-section {
    .hero-section-image {
      margin-top: 5rem;
      width: 55%;
    }
  }

  .client-section {

    /* Client Section Container */

    ul{

        list-style: none;
        display: flex;
        gap: 5rem;

        transform: translateY(-95%);
        margin-left: 2.5rem;
    }
  }
}
